<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("parts/head") %>
        <meta name="title" content="discordboats.club Privacy Policy">
        <meta name="description" content="The website's privacy policy page. (Very helpful description)">
        <meta name="keywords" content="Discord,Discord Bot,Discord Bots,discordboats,DBC,Discord Bot List,discord boats,boats,discordboats.club,dboats,dbots,dbot,bots,list,directory,bot list">

    </head>

    <body>
        <div class="header">
            <%- include("parts/header") %>
        </div>
        <div class="main">
            <div class="container">
                <h3>discordboats.club Privacy Policy</h3>
                <p>Last revised: <strong>November 25, 2018</strong></p>
                <p>
                    Our privacy policy applies to information we collect when you use or access our website,
                    application, or just interact with us.
                    We may change this privacy policy from time to time. Whenever we make changes to this privacy
                    policy,
                    the changes are effective 7 days after we post the revised privacy policy
                    (as indicated by revising the date at the top of our privacy policy).
                    We encourage you to review our privacy policy whenever you access our services to
                    stay informed about our information practices and the ways you can help protect your privacy.
                </p>

                <h4>Collection of Information</h4>
                <h5>Information You Provide To Us</h5>
                <p>
                    We collect information you provide directly to us. For example, we collect information when you
                    participate
                    in any interactive features of our services, fill out a form, request customer support, provide any
                    contact or identifying
                    information or otherwise communicate with us. The types of information we may collect include your
                    username, email address, and other contact
                    or identifying information you choose to provide.
                </p>

                <h5>Information We Collect Automatically When You Use Our Services</h5>
                <p>
                    When you access or use our services, we automatically collect information about you, including:
                    <ul>
                        <li>
                            <strong>Log Information</strong>: We log information about your use of our services,
                            including the type of browser you use, access times, pages viewed, your IP address and the
                            page you visited before navigating
                            to our services.
                        </li>
                        <li>
                            <strong>Information Collected by Cookies and Other Tracking Technologies</strong>: We use
                            various technologies to collect
                            information, and this may include sending cookies to your computer. Cookies are small data
                            files stored on your hard drive or in your
                            device memory that helps us to improve our services and your experience, see which areas
                            and features of our services are popular and
                            count visits. For more information about cookies, visit <a href="https://cookiesandyou.com/">cookiesandyou.com</a>.
                        </li>
                    </ul>
                </p>

                <h5>Information We Collect From Other Sources</h5>
                <p>
                    In order to provide you with access to our Services, or to provide you with better service in
                    general,
                    we may combine information obtained from other sources (for example, a third-party service whose
                    application you have authorized
                    or used to sign in) and combine that with information we collect through our services.
                </p>

                <h4>Use of Information</h4>
                <p>
                    We use information about you for various purposes, including to:
                    <ul>
                        <li>Provide, maintain and improve our services;</li>
                        <li>Provide services you request, process transactions and to send you related information;</li>
                        <li>Send you technical notices, updates, security alerts and support and administrative
                            messages</li>
                        <li>Respond to your comments, questions and requests and provide customer service;</li>
                        <li>Communicate with you about news and information related to our service;</li>
                        <li>Monitor and analyze trends, usage and activities in connection with our services; and</li>
                        <li>Personalize and improve our services.</li>
                    </ul>
                    By accessing and using our services, you consent to the processing and transfer of your information
                    in and to the
                    United States and other countries.
                </p>

                <h4>Third Party Analytics</h4>
                <p>
                    We may allow third parties to provide analytics services. These third parties may use cookies, web
                    beacons and other
                    technologies to provide information about your use of the services and other websites, including
                    your IP address, web browser,
                    pages viewed, time spent on pages, links clicked and conversion information. This information may
                    be used by us and third parties to, among other
                    things, analyze and track data, determine the popularity of certain content and other websites and
                    better understand your online activity.
                    Our privacy policy does not apply to, and we are not responsible for, third party cookies, web
                    beacons or other tracking technologies and
                    we encourage you to check the privacy policies of these third parties to learn more about their
                    privacy practices.
                </p>

                <h4>Security</h4>
                <p>
                    We take reasonable measures to help protect personal information from loss, theft, misuse and
                    unauthorized access,
                    disclosure, alteration and destruction.
                </p>

                <h5>Cookies</h5>
                <p>
                    Most web browsers are set to accept cookies by default. If you prefer, you can usually choose to
                    set your browser to
                    remove or reject browser cookies. Please note that if you choose to remove or reject cookies, this
                    could affect the availability
                    and functionality of our services.
                </p>

                <h5>Promotional Communications</h5>
                <p>
                    You may opt out of receiving any promotional emails from us by following the instructions in those
                    emails. If you opt out,
                    we may still send you non-promotional communications, such as those about your account or our
                    ongoing business relations.
                </p>

                <h4>Contact Us</h4>
                <p>If you have any questions or concerns about this privacy policy, please contact us at <a href="mailto:support@discordboats.club">support@discordboats.club</a>.</p>
            </div>
        </div>
    </body>
    <footer>
        <%- include("parts/footer") %>
        <%- include("parts/scripts") %>
    </footer>
</html>